In [58]:
import pandas as pd

import numpy as np

In [59]:
x = [99, 86, 87, 88, 111, 86, 103, 87, 94, 78, 77, 85, 86]

In [60]:
media = np.mean(x)

print(media)

89.76923076923077

In [61]:
df_train = pd.read_csv('C:/Users/Allan/Documents/Projetos/store_item_demand_train.csv')

df_test = pd.read_csv('C:/Users/Allan/Documents/Projetos/store_item_demand_test.csv')

In [62]:
df_train.head() # Quando fazemos o download do arquivo do kaggle o arquivo vêem dividido em dois, teste (test) e treino (train),
                # o arquivo "test" deve estar (espero) com 70% dos arquivos e o arquivo "train" está com 30%, por quê está dividido?
                # Isso deve que quando se faz uma previsão se pega os dados de treino e compara com os dados de teste e se compara
                # para ver se o modelo está no caminho certo. Em outra postagem eu mostrarei como dividir e
                # o porquê disso (espero que Deus me ilumine).
                # Acredito que não mudará muito a analise usar 70% e não 100% (peguem leve isso é só uma introdução).
            
                # Para maiores informações: https://didatica.tech/dados-de-treino-e-teste/
                
                # ".head()" esse comando mostra as 5 primeiras linhas (começando do 0), caso queira ver mais coloque (10), (20) ou 
                # quanto você quiser e ele mostrará.
                # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [63]:
df_train.columns # Com o comando ".columns" conseguimos ver todas as colunas.

Index(['date', 'store', 'item', 'sales'], dtype='object')

In [64]:
df_train.shape # Com o comando ".shape" podemos ver em ordem o número de linhas (913000) e depois o número de colunas (4)

(913000, 4)

In [65]:
df_train.isnull().sum() # O comando “.isnull()” serve para mostrar os dados nulos, como podem ver não há dados nulos, 
                        # e o “dtype” que significa que o que está lá dentro e não é nulo ou vazio (NaN) 
                        # são números inteiros de 64 bytes.
                        # Para maiores informações: https://numpy.org/doc/stable/user/basics.types.html
            
                        ## O fato de não haver dados faltantes se deve a bondade do kaggle disponibilizar dados já tratados e
                        # organizados, prontos para a manipulação (Obrigado kaggle, nos poupa de muito trabalho).
                    
                        # O comando “.sum()” faz a soma total, ele irá contabilizar o total de dados vazios (.isnull() ) 
                        # dentro do dataset “df_train”.
                        
                        ## Caso houvesse dados nulos faltando poderíamos usar esse comando: df_train.dropna (inplace = True)

                        #!#!--- Aviso o comando "data.dropna( inplace = True )" deve ser usado quando você sabe o que está fazendo,
                        # esse comando precisa ser avaliado, pois as vezes os dados faltantes são muito poucos, ou mesmo os dados
                        # da coluna que estão faltando não faz diferença se forem deletados, não afetando muito o resultado.
                        
                        # Claro que essa é uma análise superficial de como lidar com dados faltantes, por favor
                        # façam suas próprias pesquisas sobre isso, verão que a toca do coelho é super profunda!

date     0
store    0
item     0
sales    0
dtype: int64

In [66]:
df_train.describe(include = "all") # Com o comando ".describe()" conseguimos ver várias informações úteis, inclusive a média.

                                   # o comando "(include = "all")" serve para colocar dentro do comando ".describe()" todas as colunas

                                   # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html
                                   
                                   # A média de produtos armazenados (store) é de 5.500000.
                
                                   # Podemos ver que a média de itens (item) na loja é de 25.5000.
                    
                                   # E a média de vendas (sales) é de 52.250287
                        
                                   # Aproveitando o embalo eu já descrevo as outras variaveis que retornaram:
                            
                                   # "count" é a contagem total de valores, lembrem-se do comando .shape, aqui no caso é 913000 
                                
                                   # "unique" tem algo haver com a ordenação (acho), se alguma boa alma quiser me explicar para serve
                                   # eis-me aqui.
                                
                                   # "top" é o valor mais comum (não vou aprofundar isso se não não andamos)
                                
                                   # "freq" é o valor mais comum
                                
                                   # "mean" é a média (acho que vocês já desconfiavam)
                                    
                                   # "std" é o desvio padrão, falarei sobre isso masi para frente. 
                                    
                                   # "min" é o valor minimo, por exemplo: o mínimo (o menor valor) de "store" é 1, o mínimo do item
                                   # também é 1, e o minímo do "sales" é 0 ( zero vendas).
                                    
                                   # 25%, 50% e 75%, aqui os total dos números foi dividido em 4 partes:
                                
                                   # min - 25% - 50% - 75% - max, o primeiro quartil (Q1) 25%= store = 3, item = 13, e sales = 30.
                                   # segundo quartil ou também conhecido como a média (Q2) 50% = store = 5.5, item = 25.5,
                                   # e sales = 47.
                                   # terceiro quartil (Q3) 75% = store = 8, item = 38, sales = 70
                                
                                   # "max" o valor máximo de cada coluna.

              date          store           item          sales
count       913000  913000.000000  913000.000000  913000.000000
unique        1826            NaN            NaN            NaN
top     2017-05-14            NaN            NaN            NaN
freq           500            NaN            NaN            NaN
mean           NaN       5.500000      25.500000      52.250287
std            NaN       2.872283      14.430878      28.801144
min            NaN       1.000000       1.000000       0.000000
25%            NaN       3.000000      13.000000      30.000000
50%            NaN       5.500000      25.500000      47.000000
75%            NaN       8.000000      38.000000      70.000000
max            NaN      10.000000      50.000000     231.000000

In [67]:
# Aqui um outro jeito de calcular a média (existem muitas outras formas)

df_train_store_mean = df_train["store"].mean()                # df_train_store_mean, df_train_item_mean e df_train_sales_mean
                                                              # são as variaveis onde eu estarei armazenando o comando.
df_train_item_mean = df_train["item"].mean()                  
                                                              # "df_train" é o nosso dataframe (df),é aqui onde está toda a informação.
df_train_sales_mean = df_train["sales"].mean()                # df_train["store"] é a coluna que eu quero acessar dentro do dataframe.
                                                              # .mean() é o comando que irá calcular a média dos valores dentro da 
print("A média da coluna store é:",df_train_store_mean)       # coluna "store" e depois "item" e por fim "sales"

print("A média da coluna item é:",df_train_item_mean)         # "print()" será o comando que mostrará o que eu preciso. 
                                                              # "print("A média da coluna store é:",)" as aspas ("") servem para 
print("A média da coluna sales é:",df_train_sales_mean)       # o computador entender que estamos usando palavras ou melhor "strings"

                                                        #(https://algoritmosempython.com.br/cursos/programacao-python/tipos-basicos/)
    
                                                              # depois de eu ter colocado tudo dentro as aspas eu coloquei a virgula
                                                              # após a virgula o computador entende que terá mais comando.
                                                              # então eu uso o "df_train_store_mean", df_train_item_mean e
                                                              # df_train_sales_mean, e o computador entende que ele deve mostrar 
                                                              # o valor dessas variaveis.

A média da coluna store é: 5.5
A média da coluna item é: 25.5
A média da coluna sales é: 52.250286966046005

In [68]:
# Exemplo de calculo de mediana:

x = [99, 86, 87, 88, 111, 86, 103, 87, 94, 78, 77, 85, 86] # Conjunto de dados desorganizado.
                                                           # Conjunto com um único valor central (impar)

In [69]:
mediana = np.median(x)                                  

print(mediana)

87.0

In [70]:
z = [77, 78, 85, 86, 86, 86, 87, 87, 94, 98, 99, 103]  # Conjunto já organizado (para melhor compreensão)
                                                       # Conjunto com dois valores centrais (par)

In [71]:
mediana = np.median(z)

print(mediana)

86.5

In [72]:
# Agora vamos calcular a mediana (Acho que não preciso explicar tudo denovo como eu fiz não é?)

df_train_store_median = df_train["store"].mean()

df_train_item_median = df_train["item"].mean()

df_train_sales_median = df_train["sales"].mean()

print("A médiana da coluna store é:",df_train_store_median)

print("A médiana da coluna item é:",df_train_item_median)

print("A médiana da coluna sales é:",df_train_sales_median)

A médiana da coluna store é: 5.5
A médiana da coluna item é: 25.5
A médiana da coluna sales é: 52.250286966046005

In [73]:
# Mostrando o comando para se chegar a Moda:

from scipy import stats  # Para agilizar a vida vamos importar a biblioteca “scipy” e dentro dela pegar a função “stats”
                         # (Parece que dentro da biblioteca Numpy, não há algo pronto como é o caso da Scipy para achar a modo)
    
                         # Scipy: https://docs.scipy.org/doc/scipy/reference/tutorial/general.html
                
                         # Stats: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mode.html

In [74]:
y = [99,86,87,88,111,86,103,87,94,78,77,85,86]

In [75]:
moda = stats.mode(y)

In [76]:
print(moda)   # Como podem ver o número que mais se repete é 86 e ele se repete 3x.

ModeResult(mode=array([86]), count=array([3]))

In [77]:
df_train_store_mode = df_train["store"].mode()               
                                                              
df_train_item_mode = df_train["item"].mode()                  
                                                              
df_train_sales_mode = df_train["sales"].mode()                
                                                              
print("A moda da coluna store é:",df_train_store_mode)       

print("A moda da coluna item é:",df_train_item_mode)         
                                                             
print("A moda da coluna sales é:",df_train_sales_mode)

A moda da coluna store é: 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
A moda da coluna item é: 0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
dtype: int64
A moda da coluna sales é: 0    30
dtype: int64

In [79]:
# Aqui na coluna “store” mostra os números de produtos armazenados/guardados, e a quantidade de produtos armazenados/guardados
# que mais se repetem é o valor 1, para provar veja a imagem a seguir:

df_train.head(900)

           date  store  item  sales
0    2013-01-01      1     1     13
1    2013-01-02      1     1     11
2    2013-01-03      1     1     14
3    2013-01-04      1     1     13
4    2013-01-05      1     1     10
..          ...    ...   ...    ...
895  2015-06-15      1     1     19
896  2015-06-16      1     1     17
897  2015-06-17      1     1     28
898  2015-06-18      1     1     29
899  2015-06-19      1     1     20

[900 rows x 4 columns]

In [ ]:
# Quando eu coloco no “.head()” para ver até a linha 9.000 eu consigo ver que essa coluna não é só feita de números 1 e por isso a moda
# (o número que mais se repete) na coluna store é o número 1.

# Também podemos ver que o número que mais se repete na coluna “item” é também o número 1.

# E aqui podemos ver que o valor que mais se repete na coluna “sales” é o valor de 30.